<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : 22nd November (09:00 - 17:00)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2"; style="text-align:center">Pre-workshop Setup</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td colspan="2"; style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td><a href = "https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>        <!-- time    -->
        <td>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td>        <!-- time    -->
        <td>Working with Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td>        <!-- time    -->
        <td>Redirection</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td></td>        <!-- time    -->
        <td>Writing Scripts and Working with Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td colspan="2"; style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : 23rd November (09:00 - 17:00)</h3>
    <table class="table table-striped">  
      <tr>               <!-- row 1   -->
        <td colspan="2"; style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td><a href = "https://edcarp.github.io/introduction-to-conda-for-data-scientists/">Introduction to Conda</a></td>
        <td>Getting Started with Conda</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td>Working with Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>        <!-- time    -->
        <td>Using Packages and Channels</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td></td>        <!-- time    -->
        <td>Sharing Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td></td>        <!-- time    -->
        <td>Configuring Conda</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td><a href = "https://carpentries-incubator.github.io/good-enough-practices/">Good Enough Practices in Scientific Computing</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td></td>        <!-- time    -->
        <td>Data Management</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td></td>        <!-- time    -->
        <td>Software</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td></td>        <!-- time    -->
        <td>Collaboration</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td></td>        <!-- time    -->
        <td>Project Organization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td></td>        <!-- time    -->
        <td>Keeping Track of Changes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td></td>        <!-- time    -->
        <td>Manuscripts</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td></td>        <!-- time    -->
        <td>What to do next</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td colspan="2"; style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 17   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 18   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 : 24th November (09:00 - 17:00)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2"; style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td><a href="https://carpentries-incubator.github.io/workflows-nextflow/">Introduction to Nextflow </a></td>
        <td>Getting Started with Nextflow</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td><td>
        <td>Nextflow scripting</td>
      </tr>
      <tr>               <!-- row 4   -->
        <td></td>
        <td>Channels</td>
      </tr>
      <tr>               <!-- row 5   -->
        <td></td>
        <td>Processes</td>
      </tr>
      <tr>               <!-- row 6   -->
        <td></td>        <!-- time    -->
        <td>Operators</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td colspan="2"; style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 : 25th November (09:00 - 17:00)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2"; style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td><a href="https://carpentries-incubator.github.io/workflows-nextflow/">Introduction to Nextflow</a></td>
        <td></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>Workflow</td>
        <td></td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>Nextflow Configuration</td>
        <td></td>
      </tr>
      <tr>               <!-- row 5   -->
        <td>Simple RNA-Seq pipeline</td>
        <td></td>
      </tr>
      <tr>               <!-- row 6   -->
        <td>Modules</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>Reporting</td>
        <td>/td>
      </tr>
      <tr>               <!-- row 8   -->
        <td>Sub-workflows</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>Workflow parameterization</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td></td>        <!-- time    -->
        <td>Deploying nf-core pipelines</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 11   -->
        <td colspan="2"; style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 13   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 14   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
